<script src="{{ request.static_url('best_tests_server:static/jquery.dataTables.js') }}"></script>
<link rel="stylesheet" href="{{ request.static_url('best_tests_server:static/jquery.dataTables.mod.css') }}"/>

{% compress 'js' %}
<script type="text/coffeescript">
    $(document).ready ->
        $.extend $.fn.dataTable.defaults,
            'sDom': 'fiptrl'
            'oLanguage': 'sUrl': '{{ request.static_url('best_tests_server:static/jquery.dataTables.russian.json') }}'

        $('body').on 'DOMNodeInserted', 'div', (e) ->
            filterDiv = $(this).find('.dataTables_filter')
            if filterDiv.length
                filterDiv.find('input').attr 'placeholder', 'Поиск...'
            return

        class DataTablesHelper
            constructor: () ->
            @renderBool: (value) ->
                return switch value
                    when "true" then "да"
                    when "false" then "нет"
                    when "True" then "Да"
                    when "False" then "Нет"
                    else "?"

        window.DataTablesHelper = DataTablesHelper

        return

</script>
{% endcompress %}