<ul>
    <li><a href="{{ request.route_url('test_render') }}">rendering</a></li>
    <li><a href="{{ request.route_url('test_mail') }}">email</a></li>
    <li><a href="{{ request.route_url('test_notify') }}">notify</a></li>
    <li><a href="{{ request.route_url('test_url') }}">url</a></li>
</ul>