{% extends "base.jinja2" %}
{% block content %}
    <h1>Index</h1>
    <p>Welcome, {{ username }}!</p>
    <ul>
       <li><a href="{{ request.route_url('profile_edit') }}">edit profile</a></li>
       <li><a href="{{ request.route_url('logout') }}">logout</a></li>
    </ul>
{% endblock %}