{% set header = 'Index' %}
{% extends "base.jinja2" %}
{% block content %}
    <ul>
        {% if view.user.is_admin() %}
            <li><a href="{{ request.route_url('admin_index') }}">admin</a></li>
        {% endif %}
        <li><a href="{{ request.route_url('profile_edit') }}">edit profile</a></li>
        {% if view.login_from_vk_iframe==None %}
            <li><a href="{{ request.route_url('logout') }}">logout</a></li>
        {% endif %}
    </ul>
{% endblock %}