{% extends "base.jinja2" %}
{% block content %}
    <h1>Best Tests</h1>

    {{ rendered_login_form|safe }}

    <p><a href="{{ request.route_url('register') }}">Зарегистрироваться в приложении</a></p>
{% endblock %}