{% extends "base.jinja2" %}
{% block content %}
    <h1>Добро пожаловать, {{ user_name }}!</h1>

    <p>Регистрация прошла успешно.</p>

    {% if new_password %}
        {# TODO только при наведении мыши #}
        <p>Вы не указали пароль при регистрации, поэтому он был сгенирирован: <b>{{ new_password }}</b></p>
        <p>Сохраните значение пароля.</p>
    {% endif %}

    {# TODO fun picture with greeting mascot #}
    <p>На вашу почту должно прийти письмо, содержащее ссылку для подтверждения указанного email. После перехода по ней вы сможете <a href="{{ request.route_url('login') }}">войти на сайт</a></p>
{% endblock %}