{% extends "base.jinja2" %}
{% block content %}
    <h1>Добро пожаловать!</h1>

    <p>Регистрация прошла успешно.</p>

    {% if new_password %}
        {# TODO только при наведении мыши #}
        <p>Вы не указали пароль при регистрации, поэтому он был сгенирирован: {{ new_password }}</p>
        <p>Сохраните значение пароля.</p>
    {% endif %}

    {# TODO fun picture with greeting mascot #}
    <p>Вы можете <a href="{{ request.route_url('login') }}">войти на сайт</a></p>
{% endblock %}