<script>
    loadResource([
        '{{ request.static_url('pyragrid:static/jqueryfiletree/jQueryFileTree.min.css') }}',
        '{{ request.static_url('pyragrid:static/jqueryfiletree/jQueryFileTree.min.js') }}',
        '{{ request.static_url('pyragrid:static/jqueryfiletree/jQueryFileTree.js') }}'
    ]);
</script>