{% extends "../base.jinja2" %}
{% block content %}
    <h1>Пользователи</h1>
    <p>Welcome, {{ username }}!</p>

    {% include '../_datatables_js.jinja2' %}

    <table class="table" id="usersGrid">
        <thead>
        <tr>
            {# TODO строковые индексы колонок #}
            <th>id</th>{# 0 #}
            <th>Логин</th>{# 1 #}
            <th>Имя</th>{# 2 #}
            <th>Почта</th>{# 3 #}
            <th>Почта подтв.</th>{# 4 #}
            <th>Включен</th>{# 5 #}
            <th></th>{# 6 #}
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% compress 'js' %}
        <script type="text/coffeescript">
            $(document).ready ->
              $('#usersGrid').dataTable
                'bProcessing': true
                'bServerSide': true
                'sAjaxSource': '{{ request.route_path('admin_users_grid') }}'
                'aoColumns': [
                  { 'mData': 0 }
                  { 'mData': 1 }
                  { 'mData': 2 }
                  { 'mData': 3 }
                  { 'mData': 4 }
                  { 'mData': 5 }
                  {
                    'mRender': (value, type, data) ->
                      id = data[0]
                      active = data[5] == 'True'
                      rendered = '<a href="/admin/users/edit/' + id + '" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>'
                      if active
                        rendered += '<a href="/admin/users/delete/' + id + '" class="btn btn-default btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></a>'
                      else
                        rendered += '<a href="/admin/users/restore/' + id + '" class="btn btn-default btn-sm btn-success"><span class="glyphicon glyphicon-ok"></a>'
                      rendered
                    'sClass': 'withButtons'
                  }
                ]
              return
        </script>
    {% endcompress %}
{% endblock %}