{% extends "../base.jinja2" %}
{% block content %}
    {% block test_header %}
        <h1>{{ header }}</h1>
    {% endblock %}
    <p><a href="{{ request.route_url('admin_index') }}">&lt;&dash; back</a></p>

    {% block test_content %}

    {% endblock %}

    {{ content }}
    {{ non_filtered_content | safe }}
    {% if code_block %}
        <pre>{{ code_block }}</pre>
    {% endif %}
{% endblock %}