[app:main]

sqlalchemy.url = postgresql://user:password@localhost/db_name

mail.default_sender = ProjectName <yourname@yourmail.com>
mail.username = user@gmail.com
mail.password = mail_password

recaptcha_public_key = 0000000000000000000000AAAAAAAAAAAA
recaptcha_private_key = 0000000000000000000000BBBBBBBBBBBB

session.key = pyragrid_abcde0123456
session.secret = abcde0123456