{% extends "mail_base.jinja2" %}

{% block content %}
    <h1>Проверка email для завершения регистрации</h1>
    <p>Код для проверки адреса почты, указанного при регистрации: {{ email_check_code }}</p>
    Для окончания проверки перейдите по <a href="{{ request.route_url('email_check_code', code=email_check_code) }}">этой ссылке</a>
{% endblock %}