{# used in templates/admin/admin_index.jinja2 #}
<ul>
    <li><a href="{{ request.route_url('test_render') }}">rendering</a></li>
    <li><a href="{{ request.route_url('test_mail') }}">email</a></li>
    <li><a href="{{ request.route_url('test_notify') }}">notify</a></li>
    <li><a href="{{ request.route_url('test_view_notify') }}">view notify</a></li>
    <li><a href="{{ request.route_url('test_url') }}">url</a></li>
    <li><a href="{{ request.route_url('test_ajax') }}" data-no-ajax-on-click>ajax</a></li>
    <li><a href="{{ request.route_url('test_redirect') }}">redirect</a></li>
    <li><a href="{{ request.route_url('test_bootgrid_edit') }}">bootstrap grid edit</a></li>
    <li><a href="{{ request.route_url('test_script_inclusion') }}">script inclusion</a></li>
    <li><a href="{{ request.route_url('test_db_enum') }}">db enum</a></li>
    <li><a href="{{ request.route_url('test_filetree') }}">jquery file tree</a></li>
    <li><a href="{{ request.route_url('test_filedialog') }}">jquery file dialog</a></li>
    <li><a href="{{ request.route_url('test_droparea') }}">jquery droparea</a></li>
    <li><a href="{{ request.route_url('test_jquery_file_upload') }}">jquery file upload</a></li>
    <li><a href="{{ request.route_url('test_blocks') }}">blocks</a></li>
    <li><a href="{{ request.route_url('test_nunjucks') }}">nunjucks templates</a></li>
    <li><a href="{{ request.route_url('test_jac') }}">jac</a></li>
    <li><a href="{{ request.route_url('test_mobx') }}">mobx state tree</a></li>
</ul>