{% extends "test_base.jinja2" %}

{% block content %}
     {% include '../_droparea_js.jinja2' %}

    <input type="file" class="droparea spot multiple" name="xfile" data-post="{{ request.route_url('uploads_handle_droparea') }}" multiple />

{#    <div id="fileTreeFileSelect" ></div>#}

    <script type="text/javascript">
        $(document).ready( function() {
            $('.droparea').droparea({
                'instructions': 'drop a file or click here',
                'wrap_container': true,
                'init' : function(result){
                    //console.log('custom init',result);
                },
                'start' : function(area){
                    area.find('.error').remove();
                },
                'error' : function(result, input, area){
                    $('<div class="error">').html(result.error).prependTo(area);
                    return 0;
                    //console.log('custom error',result.error);
                },
                'complete' : function(result, file, input, area){
                    if((/image/i).test(file.type)){
                        area.find('img').remove();
                        //area.data('value',result.filename);
                        area.append($('<img>',{'src': result.path + result.filename + '?' + Math.random()}));
                    }
                    //console.log('custom complete',result);
                }
            });
{#            $('#fileTreeFileSelect').fileTree({#}
{#                root: '/',#}
{#                script: '{{ request.route_url('test_ajax_filetree') }}',#}
{#                expandSpeed: 120,#}
{#                collapseSpeed: 120,#}
{#                multiFolder: false#}
{#            }, function(file) {#}
{#                alert(file);#}
{#            });#}
{#            $('#fileTreeFolderSelect').fileTree({#}
{#                root: '/',#}
{#                script: '{{ request.route_url('test_ajax_filetree') }}',#}
{#                expandSpeed: 120,#}
{#                collapseSpeed: 120,#}
{#                multiFolder: true,#}
{#                onlyFolders: true#}
{#            }, function(file) {#}
{#                alert(file);#}
{#            });#}
{#            $('#fileTreeFolderSelect').on('filetreeclicked', function(e, data)    {#}
{#                console.log(data);#}
{#            });#}
        });
    </script>

{% endblock %}