{% extends "test_base.jinja2" %}

{% block content %}
    <script src="{{ request.static_url('pyragrid:static/promise.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/fetch.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/lodash.min.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/mobx.umd.js') }}"></script>
    <!-- exposed as window.mobxStateTree -->
    <script src="{{ request.static_url('pyragrid:static/mobx-state-tree.umd.js') }}"></script>
{#    <script src="{{ request.static_url('pyragrid:static/mobx-state-tree.module.js') }}"></script>#}
    <script src="{{ request.static_url('pyragrid:static/react.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/react-dom.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/mobx-react.js') }}"></script>

    <script src="{{ request.static_url('pyragrid:static/nunjucks.js') }}"></script>
    <script src="{{ request.static_url('pyragrid:static/js/pyragridBlocks.js') }}"></script>

    <div id="">
        {% raw %}{{ render_block(type="hello_world", appeal_to="dear user") }}{% endraw %}
    </div>

    {% if content_raw %}
{#        {{ content_raw | safe }}#}
    {% endif %}

    <script>
      document.addEventListener("DOMContentLoaded", function(){
        pyragrid.renderBlocks(document.getElementById('content'));
      });
    </script>
{% endblock %}