{% extends "test_base.jinja2" %}

{% block content %}
    {% compress 'js' %}
    <script type="text/coffeescript">
        $ ->
{#          PNotify.prototype.options.animate_speed = "slow";#}
          new PNotify(
              title: 'Regular Notice'
              text: 'Check me out! I\'m a notice'
              type: 'info' # 'error'/'success'
          )
    </script>
    {% endcompress %}
    {{ content }}
{% endblock %}