{% extends "test_base.jinja2" %}

{% block content %}
     {% include '../_filetree_js.jinja2' %}
{#     {% include '../_filedialog_js.jinja2' %}#}

     <script type="text/javascript">
         loadResource([
             '{{ request.static_url('pyragrid:static/jquery.ui.widget.js') }}',
             '{{ request.static_url('pyragrid:static/jquery.iframe-transport.js') }}',
             '{{ request.static_url('pyragrid:static/jquery.fileupload.js') }}',
             '{{ request.static_url('pyragrid:static/jquery.fileupload-mod.css') }}',
             '{{ request.static_url('pyragrid:static/js/jQueryFileDialog.js') }}',
             '{{ request.static_url('pyragrid:static/jinplace.js') }}',
             '{{ request.static_url('pyragrid:static/bootstrap-confirmation.js') }}',
             '{{ request.static_url('pyragrid:static/jQueryFileDialog.css') }}'
         ]);
     </script>

     <form id="form1">
        <label for="form1_filePath">Path to file</label>
        <input id="form1_filePath" type="text" name="filePath" value="">
     </form>

{#  <br />
    <br />
    <br />
    <br />
    <p>Example:</p>

    <div class="input-group">
      <input class="form-control" type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Clear value"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="button" title="Browse..." data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-folder-open"></span></button>
      </span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
#}

    {% compress 'js' %}
    <script type="text/coffeescript">
        $ ->
            $('#form1_filePath').fileDialog({
                fileUploadSuccess: (file)->
                    UI.notifyFromSuccessData({message: '"' + file.name + '" uploaded'})
                fileUploadError: (file)->
                    UI.notifyFromErrorData({message: '"' + file.name + '" upload failed: ' + file.error})
                urlOperations: '{{ request.route_url('uploads_manage') }}'
            })

{#            throw new Error('azaza')#}

    </script>
    {% endcompress %}

{% endblock %}