{% extends "test_base.jinja2" %}

{% block content %}
    <script type="text/javascript">
        loadResource([
            '{{ request.static_url('pyragrid:static/jquery.ui.widget.js') }}',
            '{{ request.static_url('pyragrid:static/jquery.iframe-transport.js') }}',
            '{{ request.static_url('pyragrid:static/jquery.fileupload.js') }}',
            '{{ request.static_url('pyragrid:static/jquery.fileupload.css') }}'
        ]);
    </script>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>

    <script type="text/javascript">
        $(function () {
            // Change this to the location of your server-side upload handler:
{#            var url = window.location.hostname === 'blueimp.github.io' ?#}
{#                        '//jquery-file-upload.appspot.com/' : 'server/php/';#}
            var url = '{{ request.route_url('uploads_handle_jquery_file_upload') }}';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        text = '';
                        if (file.error){
                            text = '/!\\ ' + file.name + ': ' + file.error;
                        } else {
                            text = file.name;
                        }
                        $('<p/>').text(text).appendTo('#files');
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).error(function (jqXHR, textStatus, errorThrown) {
                console.log('Error: '+textStatus);
                console.log(errorThrown);
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>

{% endblock %}