{% set header = 'Admin' %}
{% set backlink = request.route_url('index') %}
{% extends "../base.jinja2" %}
{% block content %}
{#    <p><a href="{{ request.route_url('index') }}">&lt;&dash; back</a></p>#}
    <ul>
       <li><a href="{{ request.route_url('admin_users') }}">Пользователи</a></li>
       <li><a href="{{ request.route_url('admin_articles') }}">Статьи</a></li>
{#       <li><a href="{{ request.route_url('delete_user', any_data='something') }}">delete users</a></li>#}

    </ul>
    <p>Tests:</p>
    {% include '../test/_test_urls.jinja2' %}

    <p><a href="{{ request.route_url('logout') }}">logout</a></p>
{% endblock %}