{% set header = 'Статьи' %}
{% set backlink = request.route_url('admin_index') %}
{% extends "../base.jinja2" %}
{% block content %}
    {% include '../_datatables_js.jinja2' %}

    <p><a href="{{ request.route_url('admin_article_new') }}">Добавить статью [+]</a></p>

    <table class="table" id="articlesGrid">
        <thead>
        <tr>
            {# TODO строковые индексы колонок #}
            <th>id</th>{# 0 #}
            <th>Название</th>{# 1 #}
            <th>Системное имя</th>{# 2 #}
            <th>Путь</th>{# 3 #}
            <th>Текущая ревизия</th>{# 4 #}
            <th>Включена</th>{# 5 #}
            <th>{# buttons col #}</th>{# 6 #}
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% compress 'js' %}
        <script type="text/coffeescript">
            $(document).ready ->
               $table = $('#articlesGrid').dataTable
                'bProcessing': true
                'bServerSide': true
                'sAjaxSource': '{{ request.route_path('admin_articles_grid') }}'
                'aoColumns': [
                  { 'mData': 0 }
                  { 'mData': 1 }
                  { 'mData': 2 }
                  { 'mData': 3 }
                  { 'mData': 4 }
                  {
                    'mData': 5
                    'mRender': (value, type, data) ->
                       UI.renderBool(data[5])
                  }
                  {
                    'mRender': (value, type, data) ->
                          id = data[0]
                          active = data[5] == 'True'
                          article_url_prefix = '/admin/article/' + id
                          rendered = '<a href="' + article_url_prefix + '/edit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>'

                          button_url = article_url_prefix + '/' + (if active then 'disable' else 'enable')
                          icon_class = 'glyphicon-' + (if active then 'remove' else 'ok')
                          btn_class = 'btn-' + (if active then 'danger' else 'success')

                          rendered += '<a href="#" data-url="' + button_url + '" class="buttonSwitchActive btn btn-default btn-sm ' + btn_class + '"><span class="glyphicon ' + icon_class + '"></a>'

                          rendered
                    'sClass': 'withButtons'
                    'bSortable': false
                  }
                ]
                'fnRowCallback': (nRow, aData, iDisplayIndex, iDisplayIndexFull) ->
                    $table = $(this).dataTable()
                    $row = $(nRow)
                    $buttonsCol = $row.find('td:eq(6)')
                    $buttonSwitchActive = $buttonsCol.find('.buttonSwitchActive')
                    $buttonSwitchActive.on('click', (e) ->
                        e.preventDefault()
                        url = $(this).attr('data-url')
                        $.ajax(
                            url: url,
                            success: (data) -> # правильная ли функция?
                                UI.notifyFromSuccessData(data)
                                $table.fnDraw(false)
                            error: (data) ->
                                UI.notifyFromErrorData(data)
                        )
                    )
               return
        </script>
    {% endcompress %}

{% endblock %}