{% set header = 'Редактирование статьи' %}
{% set backlink = request.route_url('admin_articles') %}
{% set enable_greeting = False %}
{% extends "../base.jinja2" %}
{% block content %}
    {% include '../_bootstrap_grid_editor_js.jinja2' %}
    <p><a href="{{ request.route_path('admin_article_revisions', article_id=article_id) }}">История правок</a></p>
    {{ rendered_form|safe }}
    {{ content }}
{% endblock %}