{% set header = 'Редактирование пользователя' %}
{% set backlink = request.route_url('admin_users') %}
{% set enable_greeting = False %}
{% extends "../base.jinja2" %}
{% block content %}
    {{ rendered_form|safe }}
{% endblock %}