{% set header = 'Редактирование статьи' %}
{% set backlink = request.route_url('admin_articles') %}
{% set enable_greeting = False %}
{% extends "../base.jinja2" %}
{% block content %}
    {% include '../_bootstrap_grid_editor_js.jinja2' %}
    {{ rendered_form|safe }}
    {{ content }}
{% endblock %}