{% set header = 'Статьи' %}
{% set backlink = request.route_url('admin_index') %}
{% extends "../base.jinja2" %}
{% block content %}
    {% include '../_datatables_js.jinja2' %}

    <p><a href="{{ request.route_url('admin_article_new') }}">Добавить статью [+]</a></p>

    <table class="table" id="articlesGrid">
        <thead>
        <tr>
            {# TODO строковые индексы колонок #}
            <script type="text/javascript">
                n = 0;
                COL_ID = n++;                  document.write('<th>id</th>');
                COL_NAME = n++;                document.write('<th>Название</th>');
                COL_SYSTEMNAME = n++;         document.write('<th>Системное имя</th>');
                COL_PATH = n++;                document.write('<th>Путь</th>');
                COL_CURRENT_REVISION = n++;  document.write('<th>Текущая ревизия</th>');
                COL_ENABLED = n++;            document.write('<th>Включена</th>');
                COL_BUTTONS = n++;            document.write('<th><!-- buttons col --></th>');
                colsCount = n;
            </script>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% compress 'js' %}
        <script type="text/coffeescript">
            $(document).ready ->
               aoColumns = []
               aoColumns[COL_ENABLED] = {
{#                  'mData': COL_ENABLED#}
                  'mRender': (value, type, data) ->
                      UI.renderBool(data[COL_ENABLED])
               }
               aoColumns[COL_BUTTONS] = {
                    'mRender': (value, type, data) ->
                          id = data[COL_ID]
                          active = data[COL_ENABLED] == 'True'
                          article_url_prefix = '/admin/article/' + id
                          rendered =
                              '<a href="' + article_url_prefix + '/edit" ' +
                              '   class="btn btn-default btn-sm"' +
                              '   title="Править">' +
                                  '<span class="glyphicon glyphicon-pencil"></span>' +
                              '</a>'

                          rendered +=
                              '<a href="' + article_url_prefix + '/revisions"' +
                              '   class="btn btn-default btn-sm"' +
                              '   title="Правки">' +
                                  '<span class="glyphicon glyphicon-time"></span>' +
                              '</a>'

                          rendered +=
                              '<a href="#"' +
                              '   data-url="' + article_url_prefix + '/' + (if active then 'disable' else 'enable') + '" ' +
                              '   class="buttonSwitchActive btn btn-default btn-sm ' +
                                         'btn-' + (if active then 'danger' else 'success') + '"' +
                              '   title="' + (if active then 'Отключить показ' else 'Включить показ') + ' на сайте">' +
                                   '<span class="glyphicon glyphicon-' + (if active then 'remove' else 'ok') + '"></span>' +
                              '</a>'

                          rendered
                    'sClass': 'withButtons'
                    'bSortable': false
               }

               $table = $('#articlesGrid').dataTable
                'bProcessing': true
                'bServerSide': true
                'sAjaxSource': '{{ request.route_path('admin_articles_grid') }}'
                'aoColumns': aoColumns
                'fnRowCallback': (nRow, aData, iDisplayIndex, iDisplayIndexFull) ->
                    $table = $(this).dataTable()
                    $row = $(nRow)
                    $buttonsCol = $row.find('td:eq(' + COL_BUTTONS + ')')
                    $buttonSwitchActive = $buttonsCol.find('.buttonSwitchActive')
                    $buttonSwitchActive.on('click', (e) ->
                        e.preventDefault()
                        url = $(this).attr('data-url')
                        $.ajax(
                            url: url,
                            success: (data) -> # правильная ли функция?
                                UI.notifyFromSuccessData(data)
                                $table.fnDraw(false)
                            error: (data) ->
                                UI.notifyFromErrorData(data)
                        )
                    )
               return
        </script>
    {% endcompress %}

{% endblock %}