{% set header = 'Товары' %}
{% set backlink = request.route_url('admin_index') %}
{% extends "../base.jinja2" %}
{% block content %}
    {% include '../_datatables_js.jinja2' %}

    <p><a href="{{ request.route_url('admin_good_new') }}">Добавить товар [+]</a></p>

    <table class="table" id="goodsGrid">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% compress 'js' %}
        <script type="text/coffeescript">
            $(document).ready ->
                $grid = $('#goodsGrid')
                $gridHeaderCols = $grid.find('thead tr')

                n = 0;
                COL_ID = n++;                 $gridHeaderCols.append('<th>id</th>');
                COL_NAME = n++;               $gridHeaderCols.append('<th>Название</th>');
                COL_IS_EGOOD = n++;           $gridHeaderCols.append('<th>Электронный</th>');
                COL_PRICE = n++;              $gridHeaderCols.append('<th>Цена</th>');
                COL_ENABLED = n++;            $gridHeaderCols.append('<th>Включен</th>');
                COL_BUTTONS = n++;            $gridHeaderCols.append('<th><!-- buttons col --></th>');
                colsCount = n;

                aoColumns = []
                aoColumns[COL_ENABLED] = {
                {#                  'mData': COL_ENABLED#}
                  'mRender': (value, type, data) ->
                      UI.renderBool(data[COL_ENABLED])
                }
                aoColumns[COL_BUTTONS] = {
                    'mRender': (value, type, data) ->
                          id = data[COL_ID]
                          active = data[COL_ENABLED] == 'True'
                          good_url_prefix = '/admin/good/' + id
                          rendered =
                              '<a href="' + good_url_prefix + '/edit" ' +
                              '   class="btn btn-default btn-sm"' +
                              '   title="Править">' +
                                  '<span class="glyphicon glyphicon-pencil"></span>' +
                              '</a>'

                          rendered +=
                              '<a href="#"' +
                              '   data-url="' + good_url_prefix + '/' + (if active then 'disable' else 'enable') + '" ' +
                              '   class="buttonSwitchActive btn btn-default btn-sm ' +
                                         'btn-' + (if active then 'danger' else 'success') + '"' +
                              '   title="' + (if active then 'Отключить' else 'Включить') + '">' +
                                   '<span class="glyphicon glyphicon-' + (if active then 'remove' else 'ok') + '"></span>' +
                              '</a>'

                          rendered
                    'sClass': 'withButtons'
                    'bSortable': false
                }

                $table = $grid.dataTable
                    'bProcessing': true
                    'bServerSide': true
                    'sAjaxSource': '{{ request.route_path('admin_goods_grid') }}'
                    'aoColumns': aoColumns
                    'fnRowCallback': (nRow, aData, iDisplayIndex, iDisplayIndexFull) ->
                        $table = $(this).dataTable()
                        $row = $(nRow)
                        $buttonsCol = $row.find('td:eq(' + COL_BUTTONS + ')')
                        $buttonSwitchActive = $buttonsCol.find('.buttonSwitchActive')
                        $buttonSwitchActive.on('click', (e) ->
                            e.preventDefault()
                            url = $(this).attr('data-url')
                            $.ajax(
                                url: url,
                                success: (data) -> # правильная ли функция?
                                    UI.notifyFromSuccessData(data)
                                    $table.fnDraw(false)
                                error: (data) ->
                                    UI.notifyFromErrorData(data)
                            )
                        )
                return
        </script>
    {% endcompress %}

{% endblock %}