{% set header = 'Тests' %}
{% set backlink = request.route_url('admin_index') %}
{% extends "../base.jinja2" %}
{% block content %}

    {% include '../test/_test_urls.jinja2' %}

    <p><a href="{{ request.route_url('logout') }}">logout</a></p>
{% endblock %}